@import "styles/colors.scss";
@import "styles/mixins.scss";

#about {
  @media #{$mq-desktop} {
    display: flex;
    align-items: flex-start;

    .right {
      padding: 40px 75px;

      .wrapper {
        margin-bottom: 1em;
      }

      img {
        margin-bottom: 2em;
      }

      p:not(:last-child) {
        margin-bottom: 2em;
      }

      img.img-care-mom {
        display: none;
      }
    }
  }

  @media #{$mq-mobile} {
    .left {
      display: none;
    }
    .right {
      img.img-care {
        display: none;
      }
      p, button {
        margin: 10px;
      }
      img {
        margin: auto;
        max-width: 100%;
      }
    }
  }

}
