@import "styles/colors.scss";
@import "styles/values.scss";

.c-area-summary {
  display: flex;
  flex-direction: column;
  > span {
    margin: auto 0;
  }


  .area-summary-wrapper {
    align-items: baseline;
    &.reach {
      display: flex;
    }
    @media #{$mq-mobile} {
      > span {
        display: block;
      }
    }
  }

  .select-menu {
    display: flex;
    margin-left: 5px;

    .react-select__control {
      color: $font-color-4;
      min-width: 70px;
      margin-bottom: 5px;
      font-size: 16px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #FED6BA;
    }

    .react-select__control--is-focused {
      background-color:rgba(240, 120, 28, 0.1);;
    }

    .react-select__menu {
      color: $font-color-1;
      > * {
        color: $font-color-1;
      }
    }

    .react-select__single-value,
    .react-select__single-value--is-focused {
      color: $font-color-1;
      bottom: 0;
    }
    .react-select__indicator-separator {
      display: none;
    }

    .react-select__indicator {
      color: $font-color-1;
      padding: 0;
    }

    span.react {
      margin-bottom: 0;
    }
    span {
      color: $font-color-4;
      border-bottom: 6px solid transparent;
      text-transform: uppercase;
      padding-bottom: 7px;
    }
  }
}
